<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.IndexController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.InjectDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.DeleteOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/orders/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetAllProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productsAdmin</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetAllProductAdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productsAdmin</servlet-name>
        <url-pattern>/products/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orders</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetAllOrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.AddProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addproducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shoppingCart</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.GetShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>shoppingCart</servlet-name>
        <url-pattern>/shoppingcart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProductToShoppingCart</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.AddProductToShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProductToShoppingCart</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductFromShoppingCart</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.DeleteProductFromShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProductFromShoppingCart</servlet-name>
        <url-pattern>/shoppingcart/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.DeleteProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.CompleteOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/shoppingcart/neworder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectProduct</servlet-name>
        <servlet-class>mate.academy.internetshop.controllers.InjectProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>injectProduct</servlet-name>
        <url-pattern>/injectProduct</url-pattern>
    </servlet-mapping>
</web-app>
